body {
	background-image: url("assets/images/backround.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: right top;
}

.card-body {
	background-color: silver;
	padding: 30px;
}

img {
	margin: 10px;
	float: left;
	width: 200px;
	height: 200px;
}

p {
	font-family: "Sigmar One", cursive;
	font-size: 18px;
	display: block;
	margin-block-end: 0px;
	margin-top: 0px;
	marginbottom: 5px;
}

.container {
	margin-top: 20px;
	margin-left: 0px;
}

.card {
	float: left;
}
