html {height: 100%;}

.container {
	background-color: silver;
	padding: 20px;
	margin-top: 25px;
	margin-left: 5px;
}

body {
	width: 100%;
	background-image: url("assets/images/kasra-assadian-QTiQ4ujnKeg-unsplash.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: right top;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	text-underline-position: below;
}

p {
	font-family: "Sigmar One", cursive;
	font-size: 18px;
	display: block;

}
footer {
	margin-top: auto;
	text-align: center;
	color: white;
	background-color:darkgray;
	}