.container {
	background-color: silver;
	padding: 20px;
	margin-top: 25px;
	margin-left: 5px;
}

body {
	background-image: url("assets/images/kasra-assadian-QTiQ4ujnKeg-unsplash.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: right top;
}

h1 {
	text-underline-position: below;
}

p {
	font-family: "Sigmar One", cursive;
	font-size: 18px;
	display: block;
	margin-block-end: 0px;
	margin-top: 0px;
	marginbottom: 5px;
}

footer {text-align: center;
	color: white;
	position: absolute;
	right: 0; bottom:0; left:0;
	background-color:darkgray;
	margin-bottom: 0px;}