
.card {margin: 20px;
float: left;}



nav {margin-bottom: 25px;}

body {background-color: lightcoral;}

.container {background-color: lavender;}

img {width: 100%;
height:100px}

.card-text {color: rgb(14, 7, 1);}