html {height: 100%;}

.card {
	margin: 20px;
	float: right;
}

nav {
	margin-bottom: 25px;
}

body {
	width: 100%;
	background-image: url("assets/images/luca-zanon-X0OoHrPvgXE-unsplash.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: right top;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	background-color: black;
}

img {
	width: 100%;
	height: 100px;
}

.card-text {
	color: rgb(14, 7, 1);
}

h1 {
	color: blue;
}


h2 {font-family: 'Racing Sans One', cursive;
text-align: center;}

p {
	font-family: "Sigmar One", cursive;
	font-size: 18px;
	display: block;
	text-align: center;

}

footer {
	margin: 0px;
	text-align: center;
	color: white;
	background-color:darkgray;
	}
p1 {
	font-family: "Sigmar One", cursive;
	font-size: 14px;
	display: block;
	text-align: center;

}